startup --digest_function=blake3
common --cache_computed_file_digests=500000

common --noworker_sandboxing
common --spawn_strategy=worker,local

# Cache

common --disk_cache=~/bazel_disk_cache
common --experimental_remote_cache_async
common --jobs=HOST_CPUS*2
common --remote_cache_compression
common --noremote_upload_local_results

common --modify_execution_info=^(AppleLipo|BitcodeSymbolsCopy|BundleApp|BundleTreeApp|DsymDwarf|DsymLipo|GenerateAppleSymbolsFile|ObjcBinarySymbolStrip|CppArchive|CppLink|ObjcLink|ProcessAndSign|SignBinary|SwiftArchive|SwiftStdlibCopy)$=+no-remote,^(BundleResources|ImportedDynamicFrameworkProcessor)$=+no-remote-exec

common:upload --disk_cache=
common:upload --remote_upload_local_results
